In [1]:
import pandas as pd
from collections import Counter
import tensorflow as tf
from tffm import TFFMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np
import pprint

Import csv files into dataframes:

In [2]:
ratings=pd.read_csv('~/ml-20m/ratings.csv', names=['userid', 'movieid','rating', 'timestamp'], skiprows=1)
genres2=pd.read_csv('~/ml-20m/movies.csv', names=['movieid', 'movienm', 'genreid'], skiprows=1)

Create dictionary of movie id's with their genres so it can be mapped to ratings dataframe and used as context

In [3]:
dictionary=dict(zip(genres2.movieid,genres2.genreid))

In [4]:
dictionary

{1: 'Adventure|Animation|Children|Comedy|Fantasy',
 2: 'Adventure|Children|Fantasy',
 3: 'Comedy|Romance',
 4: 'Comedy|Drama|Romance',
 5: 'Comedy',
 6: 'Action|Crime|Thriller',
 7: 'Comedy|Romance',
 8: 'Adventure|Children',
 9: 'Action',
 10: 'Action|Adventure|Thriller',
 11: 'Comedy|Drama|Romance',
 12: 'Comedy|Horror',
 13: 'Adventure|Animation|Children',
 14: 'Drama',
 15: 'Action|Adventure|Romance',
 16: 'Crime|Drama',
 17: 'Drama|Romance',
 18: 'Comedy',
 19: 'Comedy',
 20: 'Action|Comedy|Crime|Drama|Thriller',
 21: 'Comedy|Crime|Thriller',
 22: 'Crime|Drama|Horror|Mystery|Thriller',
 23: 'Action|Crime|Thriller',
 24: 'Drama|Sci-Fi',
 25: 'Drama|Romance',
 26: 'Drama',
 27: 'Children|Drama',
 28: 'Drama|Romance',
 29: 'Adventure|Drama|Fantasy|Mystery|Sci-Fi',
 30: 'Crime|Drama',
 31: 'Drama',
 32: 'Mystery|Sci-Fi|Thriller',
 33: 'Adventure|Romance|IMAX',
 34: 'Children|Drama',
 35: 'Drama|Romance',
 36: 'Crime|Drama',
 37: 'Documentary|IMAX',
 38: 'Children|Comedy',
 39: 'Comedy|Romance',
 40: 'Drama',
 41: 'Drama|War',
 42: 'Action|Crime|Drama',
 43: 'Drama',
 44: 'Action|Adventure|Fantasy',
 45: 'Comedy|Drama|Thriller',
 46: 'Drama|Romance',
 47: 'Mystery|Thriller',
 48: 'Animation|Children|Drama|Musical|Romance',
 49: 'Drama|Romance',
 50: 'Crime|Mystery|Thriller',
 51: 'Action|Drama|Thriller',
 52: 'Comedy|Drama|Romance',
 53: 'Adventure|Drama',
 54: 'Children|Comedy',
 55: 'Drama',
 56: 'Adventure|Children|Fantasy',
 57: 'Drama',
 58: 'Comedy|Drama|Romance',
 59: 'Drama|Mystery',
 60: 'Adventure|Children|Fantasy',
 61: 'Drama|Thriller',
 62: 'Drama',
 63: 'Comedy|Crime',
 64: 'Comedy|Romance',
 65: 'Comedy',
 66: 'Action|Sci-Fi|Thriller',
 67: 'Drama',
 68: 'Comedy|Romance',
 69: 'Comedy',
 70: 'Action|Comedy|Horror|Thriller',
 71: 'Action',
 72: 'Comedy|Drama',
 73: 'Drama|War',
 74: 'Drama|Romance',
 75: 'Comedy|Drama',
 76: 'Action|Sci-Fi|Thriller',
 77: 'Documentary',
 78: 'Action|Crime|Drama|Thriller',
 79: 'Drama|Thriller',
 80: 'Children|Drama',
 81: 'Crime|Drama|Romance',
 82: 'Comedy|Drama',
 83: 'Drama|Romance',
 84: 'Comedy|Drama',
 85: 'Drama|Romance',
 86: 'Action|Adventure|Drama',
 87: 'Children|Comedy',
 88: 'Comedy',
 89: 'Action|Thriller',
 90: 'Drama',
 92: 'Drama|Horror|Thriller',
 93: 'Comedy|Horror|Romance',
 94: 'Comedy|Drama|Romance',
 95: 'Action|Adventure|Thriller',
 96: 'Comedy|Drama',
 97: 'Crime|Drama',
 98: 'Action|Thriller',
 99: 'Documentary',
 100: 'Drama|Thriller',
 101: 'Adventure|Comedy|Crime|Romance',
 102: 'Comedy',
 103: 'Mystery|Sci-Fi|Thriller',
 104: 'Comedy',
 105: 'Drama|Romance',
 106: 'Comedy|Drama',
 107: 'Adventure|Children|Comedy|Musical',
 108: 'Documentary',
 109: 'Comedy|Drama|Thriller',
 110: 'Action|Drama|War',
 111: 'Crime|Drama|Thriller',
 112: 'Action|Adventure|Comedy|Crime',
 113: 'Drama|Mystery',
 114: 'Drama',
 115: 'Comedy',
 116: 'Documentary',
 117: 'Crime|Drama',
 118: 'Comedy|Romance',
 119: 'Comedy',
 120: 'Adventure|Comedy|Drama',
 121: 'Drama',
 122: 'Comedy|Romance',
 123: 'Drama|Mystery|Romance',
 124: 'Drama',
 125: 'Comedy',
 126: 'Adventure|Children|Fantasy',
 127: 'Drama',
 128: 'Documentary',
 129: 'Comedy|Romance',
 130: 'Drama',
 131: 'Drama|Romance',
 132: 'Thriller',
 133: 'Comedy|Drama',
 134: 'Documentary',
 135: 'Comedy',
 136: 'Documentary',
 137: 'Documentary',
 138: 'Drama',
 139: 'Action|Drama',
 140: 'Drama|Romance',
 141: 'Comedy',
 142: 'Drama',
 143: 'Drama',
 144: 'Comedy',
 145: 'Action|Comedy|Crime|Drama|Thriller',
 146: 'Adventure|Children',
 147: 'Drama',
 148: 'Drama',
 149: 'Crime|Drama|Thriller',
 150: 'Adventure|Drama|IMAX',
 151: 'Action|Drama|Romance|War',
 152: 'Drama|Horror',
 153: 'Action|Adventure|Comedy|Crime',
 154: 'Drama',
 155: 'Adventure|Drama|War',
 156: 'Comedy|Drama',
 157: 'Comedy|War',
 158: 'Adventure|Children',
 159: 'Crime|Drama|Mystery',
 160: 'Action|Adventure|Mystery|Sci-Fi',
 161: 'Drama|Thriller|War',
 162: 'Documentary',
 163: 'Action|Romance|Western',
 164: 'Crime|Film-Noir|Mystery|Thriller',
 165: 'Action|Crime|Thriller',
 166: 'Comedy|Crime|Drama',
 167: 'Drama',
 168: 'Action|Drama|Romance',
 169: 'Adventure|Children|Drama',
 170: 'Action|Adventure|Crime|Thriller',
 171: 'Comedy|Drama',
 172: 'Action|Sci-Fi|Thriller',
 173: 'Action|Crime|Sci-Fi',
 174: 'Comedy',
 175: 'Drama',
 176: 'Comedy',
 177: 'Horror',
 178: 'Comedy|Drama',
 179: 'Drama|Romance',
 180: 'Comedy|Romance',
 181: 'Action|Children',
 182: 'Drama|Romance',
 183: 'Comedy|Horror|Thriller',
 184: 'Drama',
 185: 'Action|Crime|Thriller',
 186: 'Comedy|Romance',
 187: 'Comedy',
 188: 'Fantasy|Horror|Mystery',
 189: 'Comedy|Fantasy',
 190: 'Thriller',
 191: 'Drama|Romance',
 192: 'Documentary',
 193: 'Drama',
 194: 'Comedy|Drama',
 195: 'Comedy|Drama|Romance',
 196: 'Horror|Sci-Fi',
 197: 'Drama',
 198: 'Action|Crime|Drama|Mystery|Sci-Fi|Thriller',
 199: 'Drama|Musical|Romance',
 200: 'Thriller',
 201: 'Drama|Fantasy',
 202: 'Drama|Romance',
 203: 'Comedy',
 204: 'Action',
 205: 'Comedy|Drama',
 206: 'Documentary',
 207: 'Drama|Romance',
 208: 'Action|Adventure|Sci-Fi',
 209: 'Drama',
 210: 'Western',
 211: 'Drama',
 212: 'Adventure|Comedy|Crime|Mystery',
 213: 'Drama',
 214: 'Drama|War',
 215: 'Drama|Romance',
 216: 'Comedy',
 217: 'Drama|Thriller',
 218: 'Comedy|Drama',
 219: 'Drama',
 220: 'Horror',
 222: 'Drama|Romance',
 223: 'Comedy',
 224: 'Comedy|Drama|Romance',
 225: 'Drama|Thriller',
 226: 'Thriller',
 227: 'Action|Thriller',
 228: 'Comedy',
 229: 'Drama|Thriller',
 230: 'Drama|Thriller',
 231: 'Adventure|Comedy',
 232: 'Comedy|Drama|Romance',
 233: 'Drama',
 234: 'Comedy',
 235: 'Comedy|Drama',
 236: 'Action|Comedy|Romance',
 237: 'Comedy|Romance',
 238: 'Adventure|Children',
 239: 'Animation|Children|Comedy|Romance',
 240: 'Thriller',
 241: 'Children|Drama',
 242: 'Drama|Musical',
 243: 'Children|Comedy|Fantasy',
 244: 'Animation|Children',
 245: 'Crime|Drama',
 246: 'Documentary',
 247: 'Crime|Drama',
 248: 'Comedy',
 249: 'Drama|Romance',
 250: 'Children|Comedy',
 251: 'Action',
 252: 'Comedy|Romance',
 253: 'Drama|Horror',
 254: 'Drama',
 255: 'Comedy',
 256: 'Comedy|Sci-Fi',
 257: 'Mystery|Thriller',
 258: 'Adventure|Children|Comedy|Fantasy|Romance',
 259: 'Crime|Drama|Thriller',
 260: 'Action|Adventure|Sci-Fi',
 261: 'Drama',
 262: 'Children|Drama',
 263: 'Drama',
 264: 'Drama',
 265: 'Drama|Fantasy|Romance',
 266: 'Drama|Romance|War|Western',
 267: 'Comedy',
 268: 'Crime|Drama',
 269: 'Drama',
 270: 'Drama|Romance',
 271: 'Drama',
 272: 'Comedy|Drama',
 273: 'Drama|Horror|Sci-Fi',
 274: 'Comedy',
 275: 'Comedy',
 276: 'Comedy|Romance',
 277: 'Drama',
 278: 'Comedy',
 279: 'Drama',
 280: 'Drama|Thriller',
 281: 'Comedy|Drama|Romance',
 282: 'Drama',
 283: 'Crime|Drama',
 284: 'Action|Crime',
 285: 'Drama|Horror',
 286: 'Action|Sci-Fi|Thriller',
 287: 'Comedy|Romance',
 288: 'Action|Crime|Thriller',
 289: 'Comedy|Romance',
 290: 'Crime|Drama',
 291: 'Drama|Thriller',
 292: 'Action|Drama|Sci-Fi|Thriller',
 293: 'Action|Crime|Drama|Thriller',
 294: 'Comedy|Romance',
 295: 'Comedy|Romance',
 296: 'Comedy|Crime|Drama|Thriller',
 297: 'Drama',
 298: 'Drama',
 299: 'Drama',
 300: 'Drama',
 301: 'Drama|Romance',
 302: 'Drama|Romance',
 303: 'Action|Thriller|Western',
 304: 'Comedy|Drama',
 305: 'Comedy',
 306: 'Drama',
 307: 'Drama',
 308: 'Comedy|Drama',
 309: 'Drama',
 310: 'Comedy',
 311: 'Horror|Thriller',
 312: 'Comedy',
 313: 'Animation|Children',
 314: 'Children|Drama|Fantasy|Mystery',
 315: 'Action|Drama|Thriller',
 316: 'Action|Adventure|Sci-Fi',
 317: 'Comedy|Drama|Fantasy',
 318: 'Crime|Drama',
 319: 'Comedy|Drama|Thriller',
 320: 'Film-Noir|Thriller',
 321: 'Drama',
 322: 'Comedy|Drama',
 324: 'Comedy|Drama',
 325: 'Comedy',
 326: 'Drama',
 327: 'Action|Comedy|Sci-Fi',
 328: 'Horror|Thriller',
 329: 'Adventure|Drama|Sci-Fi',
 330: 'Action|Crime|Horror',
 331: 'Drama',
 332: 'Horror|Sci-Fi',
 333: 'Comedy',
 334: 'Drama',
 335: 'Mystery|Thriller',
 336: 'Drama|War',
 337: 'Drama',
 338: 'Action|Sci-Fi|Thriller',
 339: 'Comedy|Romance',
 340: 'Adventure|Drama|War',
 341: 'Drama',
 342: 'Comedy',
 343: 'Children',
 344: 'Comedy',
 345: 'Comedy|Drama',
 346: 'Drama|Musical',
 347: 'Drama|Film-Noir|Romance',
 348: 'Comedy',
 349: 'Action|Crime|Drama|Thriller',
 350: 'Drama|Mystery|Thriller',
 351: 'Comedy|Drama|Romance',
 352: 'Comedy|Drama',
 353: 'Action|Crime|Fantasy|Thriller',
 354: 'Drama',
 355: 'Children|Comedy|Fantasy',
 356: 'Comedy|Drama|Romance|War',
 357: 'Comedy|Romance',
 358: 'Drama',
 359: 'Comedy|Drama|Romance',
 360: 'Action|Comedy',
 361: 'Comedy|Drama|Romance',
 362: 'Adventure|Children|Romance',
 363: 'Documentary',
 364: 'Adventure|Animation|Children|Drama|Musical|IMAX',
 365: 'Drama',
 366: 'Drama|Horror|Mystery|Thriller',
 367: 'Action|Comedy|Crime|Fantasy',
 368: 'Adventure|Comedy|Western',
 369: 'Drama',
 370: 'Action|Comedy',
 371: 'Comedy|Drama',
 372: 'Comedy|Drama|Romance',
 373: 'Thriller',
 374: 'Children|Comedy',
 375: 'Drama',
 376: 'Action|Thriller',
 377: 'Action|Romance|Thriller',
 378: 'Comedy|Romance',
 379: 'Action|Sci-Fi|Thriller',
 380: 'Action|Adventure|Comedy|Romance|Thriller',
 381: 'Drama|Romance',
 382: 'Drama|Horror|Romance|Thriller',
 383: 'Western',
 384: 'Action|Crime|Drama',
 385: 'Drama',
 386: 'Drama',
 387: 'Action|Comedy',
 388: 'Drama',
 389: 'Drama|Romance|War',
 390: 'Action|Crime|Drama',
 391: 'Crime|Drama',
 392: 'Adventure|Animation',
 393: 'Action|Adventure|Fantasy',
 394: 'Comedy',
 395: 'Drama|Fantasy|Romance',
 396: 'Drama',
 397: 'Horror',
 398: 'Documentary',
 399: 'Drama',
 400: 'Drama',
 401: 'Action|Thriller',
 402: 'Comedy',
 403: 'Comedy|Crime|Drama',
 404: 'Documentary',
 405: 'Action|Fantasy',
 406: 'Drama',
 407: 'Horror|Thriller',
 408: 'Drama',
 409: 'Crime|Drama',
 410: 'Children|Comedy|Fantasy',
 411: 'Comedy|Documentary',
 412: 'Drama',
 413: 'Comedy',
 414: 'Comedy',
 415: 'Comedy|Thriller',
 416: 'Western',
 417: 'Comedy|Romance',
 418: 'Drama',
 419: 'Comedy',
 420: 'Action|Comedy|Crime|Thriller',
 421: 'Adventure|Children|Drama',
 422: 'Thriller',
 423: 'Action|Thriller',
 424: 'Drama',
 425: 'Drama|Romance',
 426: 'Horror|Sci-Fi|Thriller',
 427: 'Drama|Mystery|Romance|Thriller',
 428: 'Drama',
 429: 'Comedy',
 430: 'Comedy|Drama',
 431: 'Crime|Drama',
 432: 'Adventure|Comedy|Western',
 433: 'Comedy',
 434: 'Action|Adventure|Thriller',
 435: 'Comedy|Sci-Fi',
 436: 'Drama|Thriller',
 437: 'Comedy',
 438: 'Action|Comedy|Drama',
 439: 'Drama',
 440: 'Comedy|Romance',
 441: 'Comedy',
 442: 'Action|Adventure|Sci-Fi',
 443: 'Adventure|Documentary',
 444: 'Comedy|Romance',
 445: 'Comedy',
 446: 'Drama|Romance',
 447: 'Comedy|Romance',
 448: 'Drama',
 449: 'Comedy',
 450: 'Comedy|Drama',
 451: 'Drama|Mystery|Romance',
 452: 'Drama',
 453: 'Comedy|Romance',
 454: 'Drama|Thriller',
 455: 'Adventure|Children|Drama',
 456: 'Crime|Drama|Thriller',
 457: 'Thriller',
 458: 'Drama|Western',
 459: 'Action|Adventure|Crime|Drama|Romance|Thriller',
 460: 'Comedy',
 461: 'Drama|Romance',
 462: 'Action|Adventure',
 463: 'Crime|Drama|Thriller',
 464: 'Action|Adventure|Crime|Thriller',
 465: 'Action|Drama|War',
 466: 'Action|Comedy|War',
 467: 'Comedy',
 468: 'Comedy|Romance',
 469: 'Drama|Romance',
 470: 'Comedy',
 471: 'Comedy',
 472: 'Comedy|Drama',
 473: 'Comedy|War',
 474: 'Action|Thriller',
 475: 'Drama',
 476: 'Comedy|Drama',
 477: 'Drama|Musical',
 478: 'Comedy|Crime|Drama',
 479: 'Action|Crime|Thriller',
 480: 'Action|Adventure|Sci-Fi|Thriller',
 481: 'Drama|Thriller',
 482: 'Crime|Drama|Thriller',
 483: 'Drama',
 484: 'Adventure|Children',
 485: 'Action|Adventure|Comedy|Fantasy',
 486: 'Comedy',
 487: 'Comedy|Western',
 488: 'Drama|Romance',
 489: 'Comedy',
 490: 'Thriller',
 491: 'Drama',
 492: 'Comedy|Mystery',
 493: 'Action|Crime|Drama',
 494: 'Action|Adventure|Thriller',
 495: 'Drama',
 496: 'Comedy|Drama|Romance|Thriller',
 497: 'Comedy|Romance',
 498: 'Drama|Romance',
 499: 'Comedy|Romance',
 500: 'Comedy|Drama',
 501: 'Drama',
 502: 'Action|Children|Romance',
 503: 'Drama',
 504: 'Action|Drama|Sci-Fi',
 505: 'Comedy',
 506: 'Drama|Fantasy|Romance',
 507: 'Crime|Drama|Thriller',
 508: 'Drama',
 509: 'Drama|Romance',
 510: 'Drama',
 511: 'Action|Drama',
 512: 'Horror|Sci-Fi',
 513: 'Comedy|Mystery|Romance',
 514: 'Comedy',
 515: 'Drama|Romance',
 516: 'Comedy|Drama',
 517: 'Action|Drama|Mystery',
 518: 'Comedy',
 519: 'Action|Crime|Drama|Sci-Fi|Thriller',
 520: 'Comedy',
 521: 'Crime|Thriller',
 522: 'Action|Drama',
 523: 'Drama',
 524: 'Drama',
 525: 'Drama',
 526: 'Drama',
 527: 'Drama|War',
 528: 'Comedy|Drama',
 529: 'Drama',
 530: 'Drama',
 531: 'Children|Drama',
 532: 'Comedy|Crime|Horror',
 533: 'Action|Adventure|Fantasy|Mystery',
 534: 'Drama|Romance',
 535: 'Drama',
 536: 'Drama',
 537: 'Drama',
 538: 'Drama',
 539: 'Comedy|Drama|Romance',
 540: 'Thriller',
 541: 'Action|Sci-Fi|Thriller',
 542: 'Comedy|Drama|Romance',
 543: 'Comedy|Romance|Thriller',
 544: 'Action|Crime',
 545: 'Drama',
 546: 'Action|Adventure|Children|Comedy|Fantasy|Sci-Fi',
 547: 'Action|Adventure|Thriller',
 548: 'Action|Mystery|Thriller',
 549: 'Drama|Musical',
 550: 'Comedy|Romance',
 551: 'Animation|Children|Fantasy|Musical',
 552: 'Action|Adventure|Comedy|Romance',
 553: 'Action|Drama|Western',
 554: 'Crime|Drama|Thriller',
 555: 'Crime|Thriller',
 556: 'Documentary',
 558: 'Action|Adventure|Animation|Children|Fantasy',
 559: 'Comedy',
 560: 'Drama',
 561: 'Drama|Thriller',
 562: 'Comedy|Drama',
 563: 'Drama|Romance',
 564: 'Comedy',
 565: 'Drama|Horror',
 566: 'Comedy|Romance',
 567: 'Comedy|Drama',
 568: 'Comedy|Drama',
 569: 'Comedy|Drama',
 570: 'Comedy|Drama',
 571: 'Drama|Romance',
 572: 'Drama',
 573: 'Drama',
 574: 'Comedy|Drama',
 575: 'Children|Comedy',
 576: 'Comedy',
 577: 'Adventure|Children|Drama',
 579: 'Crime|Thriller',
 580: 'Drama',
 581: 'Documentary',
 582: 'Comedy|Drama',
 583: 'Comedy|Drama',
 584: 'Drama|Romance',
 585: 'Comedy',
 586: 'Children|Comedy',
 587: 'Comedy|Drama|Fantasy|Romance|Thriller',
 588: 'Adventure|Animation|Children|Comedy|Musical',
 589: 'Action|Sci-Fi',
 590: 'Adventure|Drama|Western',
 591: 'Action|Drama|Thriller',
 592: 'Action|Crime|Thriller',
 593: 'Crime|Horror|Thriller',
 594: 'Animation|Children|Drama|Fantasy|Musical',
 595: 'Animation|Children|Fantasy|Musical|Romance|IMAX',
 596: 'Animation|Children|Fantasy|Musical',
 597: 'Comedy|Romance',
 598: 'Comedy|Fantasy',
 599: 'Adventure|Western',
 600: 'Action|Comedy|Crime',
 601: 'Drama',
 602: 'Documentary',
 603: 'Comedy',
 604: 'Documentary',
 605: 'Drama|Romance',
 606: 'Fantasy|Horror',
 607: 'Drama',
 608: 'Comedy|Crime|Drama|Thriller',
 609: 'Adventure|Children',
 610: 'Action|Adventure|Animation|Horror|Sci-Fi',
 611: 'Action|Horror|Sci-Fi',
 612: 'Comedy',
 613: 'Drama|Romance',
 614: 'Drama|Thriller',
 615: 'Comedy|Drama',
 616: 'Animation|Children',
 617: 'Comedy|Drama',
 618: 'Comedy|Romance',
 619: 'Comedy',
 620: 'Drama',
 621: 'Drama',
 623: 'Romance',
 624: 'Action|Drama|Thriller',
 625: 'Drama',
 626: 'Comedy',
 627: 'Drama|Thriller',
 628: 'Crime|Drama|Mystery|Thriller',
 629: 'Drama',
 630: 'Drama|Romance',
 631: 'Adventure|Animation|Children|Fantasy|Musical|Romance',
 632: 'Drama|War',
 633: 'Comedy',
 634: 'Comedy',
 635: 'Comedy|Drama',
 636: 'Drama',
 637: 'Comedy',
 638: 'Romance',
 639: 'Comedy|Drama',
 640: 'Drama|Thriller',
 641: 'Adventure|Children|Comedy',
 642: 'Drama',
 643: 'Comedy',
 644: 'Comedy',
 645: 'Drama',
 647: 'Action|Crime|Drama|War',
 648: 'Action|Adventure|Mystery|Thriller',
 649: 'Comedy|Drama',
 650: 'Drama',
 651: 'Comedy',
 652: 'Horror|Mystery|Thriller',
 653: 'Action|Adventure|Fantasy',
 654: 'Drama|Romance',
 655: 'Comedy',
 656: 'Comedy',
 657: 'Comedy|Drama',
 658: 'Drama|Musical',
 659: 'Crime|Drama|Thriller',
 660: 'Drama',
 661: 'Adventure|Animation|Children|Fantasy|Musical',
 662: 'Thriller',
 663: 'Comedy',
 664: 'Comedy',
 665: 'Comedy|Drama|War',
 666: 'Drama|Romance|War',
 667: 'Action',
 668: 'Drama',
 670: 'Drama',
 671: 'Comedy|Sci-Fi',
 672: 'Drama',
 673: 'Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi',
 674: 'Adventure|Comedy|Sci-Fi',
 675: 'Action|Drama|Thriller',
 676: 'Comedy|Horror|Sci-Fi',
 678: 'Drama|Thriller',
 679: 'Drama',
 680: 'Drama|Mystery|Romance|Sci-Fi|Thriller',
 681: 'Crime',
 682: 'Documentary|Drama',
 683: 'Documentary',
 684: 'Drama',
 685: 'Drama',
 687: 'Drama|Romance',
 688: 'Action|Adventure|Comedy|War',
 690: 'Drama|Romance',
 691: 'Comedy|Romance',
 692: 'Action|Sci-Fi|Thriller',
 693: 'Drama',
 694: 'Action|Crime|Drama',
 695: 'Mystery|Thriller',
 696: 'Drama|Thriller',
 697: 'Drama|Romance',
 698: 'Drama',
 699: 'Drama',
 700: 'Comedy',
 701: 'Drama',
 702: 'Drama',
 703: 'Drama',
 704: 'Action|Adventure',
 705: 'Comedy',
 706: 'Drama',
 707: 'Crime|Drama|Thriller',
 708: 'Comedy|Romance',
 709: 'Adventure|Animation|Children|Comedy|Musical',
 710: 'Comedy',
 711: 'Adventure|Children',
 712: 'Crime|Drama|Romance|Thriller',
 713: 'Drama',
 714: 'Drama|Mystery|Western',
 715: 'Drama|Romance',
 716: 'Crime',
 717: 'Comedy',
 718: 'Comedy|Fantasy|Sci-Fi',
 719: 'Comedy',
 720: 'Adventure|Animation|Comedy',
 721: 'Drama',
 722: 'Documentary',
 723: 'Drama',
 724: 'Drama|Fantasy|Horror|Thriller',
 725: 'Comedy',
 726: 'Drama',
 727: 'Documentary',
 728: 'Comedy',
 729: 'Drama',
 730: 'Drama',
 731: 'Crime|Thriller',
 732: 'Crime',
 733: 'Action|Adventure|Thriller',
 734: 'Comedy',
 735: 'Horror',
 736: 'Action|Adventure|Romance|Thriller',
 737: 'Action|Sci-Fi',
 738: 'Drama',
 739: 'Comedy',
 741: 'Animation|Sci-Fi',
 742: 'Horror|Thriller',
 743: 'Comedy',
 744: 'Drama',
 745: 'Animation|Children|Comedy',
 746: 'Film-Noir',
 747: 'Comedy',
 748: 'Action|Sci-Fi|Thriller',
 749: 'Drama',
 750: 'Comedy|War',
 751: 'Comedy|Horror',
 752: 'Comedy|Documentary|Romance',
 753: 'Comedy|Drama|Romance',
 754: 'Adventure|Children',
 755: 'Children|Drama',
 756: 'Documentary',
 757: 'Drama',
 758: 'Drama',
 759: 'Documentary',
 760: 'Drama|War',
 761: 'Action|Adventure',
 762: 'Comedy|Crime',
 763: 'Comedy|Drama',
 764: 'Drama|Romance',
 765: 'Comedy|Drama',
 766: 'Drama',
 767: 'Comedy|Drama',
 768: 'Drama',
 769: 'Documentary',
 770: 'Drama',
 771: 'Comedy|Drama',
 772: 'Comedy',
 773: 'Drama',
 774: 'Drama',
 775: 'Horror|Mystery',
 776: 'Comedy|Drama',
 777: 'War',
 778: 'Comedy|Crime|Drama',
 779: 'Drama|Romance',
 780: 'Action|Adventure|Sci-Fi|Thriller',
 781: 'Drama',
 782: 'Drama|Thriller',
 783: 'Animation|Children|Drama|Musical|Romance',
 784: 'Comedy|Thriller',
 785: 'Comedy',
 786: 'Action|Drama|Thriller',
 787: 'Documentary',
 788: 'Comedy|Fantasy|Romance|Sci-Fi',
 789: 'Drama',
 790: 'Drama',
 791: 'Documentary',
 792: 'Fantasy',
 793: 'Drama',
 794: 'Comedy|Drama',
 795: 'Drama',
 796: 'Drama',
 797: 'Comedy',
 798: 'Action|Adventure|Drama|Thriller',
 799: 'Comedy|Horror|Thriller',
 800: 'Drama|Mystery|Western',
 801: 'Children|Comedy',
 802: 'Drama|Romance',
 803: 'Comedy|Drama|Romance',
 804: 'Comedy|Romance',
 805: 'Drama|Thriller',
 806: 'Crime|Drama',
 807: 'Comedy|Romance',
 808: 'Adventure|Children',
 809: 'Action|Adventure',
 810: 'Children|Comedy|Fantasy',
 812: 'Drama',
 813: 'Comedy',
 814: 'Drama',
 815: 'Action|Mystery|Thriller',
 816: 'Drama',
 818: 'Comedy',
 819: 'Comedy|Drama',
 820: 'Drama',
 821: 'Drama|Romance',
 822: 'Drama|Romance|War',
 823: 'Drama',
 824: 'Drama|Mystery',
 825: 'Comedy|Romance',
 826: 'Drama',
 827: 'Drama',
 828: 'Adventure|Children',
 829: 'Comedy|Fantasy|Musical',
 830: 'Comedy',
 831: 'Drama',
 832: 'Crime|Thriller',
 833: 'Comedy',
 834: 'Comedy',
 835: 'Drama',
 836: 'Action|Adventure|Thriller',
 837: 'Children|Comedy|Fantasy',
 838: 'Comedy|Drama|Romance',
 839: 'Action|Thriller',
 840: 'Children|Comedy',
 841: 'Horror',
 842: 'Comedy|Horror',
 843: 'Drama',
 844: 'Drama',
 845: 'Drama',
 846: 'Drama',
 847: 'Comedy|Drama',
 848: 'Drama',
 849: 'Action|Adventure|Sci-Fi|Thriller',
 850: 'Crime|Drama',
 851: 'Drama',
 852: 'Comedy|Drama|Romance',
 853: 'Drama',
 854: 'Drama',
 855: 'Drama',

In [5]:
ratings['genres']=ratings['movieid'].map(dictionary)

In [6]:
ratings['genres'] = ratings.genres.map(lambda x: x.split('|'))

Unnest the genres column so there is a row for each movie-genre pair

In [7]:
def unnest(df, col, reset_index=True):
    col_flat = pd.DataFrame([[i, x] 
                       for i, y in df[col].apply(list).iteritems() 
                           for x in y], columns=['I', col])
    col_flat = col_flat.set_index('I')
    df = df.drop(col, 1)
    df = df.merge(col_flat, left_index=True, right_index=True)
    if reset_index:
        df = df.reset_index(drop=True)
    return df

ratings=unnest(ratings, 'genres')

ratings.head()

   userid  movieid  rating   timestamp     genres
0       1        2     3.5  1112486027  Adventure
1       1        2     3.5  1112486027   Children
2       1        2     3.5  1112486027    Fantasy
3       1       29     3.5  1112484676  Adventure
4       1       29     3.5  1112484676      Drama

In [8]:
#ratings.to_csv('tffm_df.csv')

Drop timestamp column:

In [9]:
ratings.set_index('userid', inplace=True)
ratings=ratings.drop('timestamp', 1)

** Using ONLY 10 most common users (for now) because it is so computationally expensive **

In [10]:
x=Counter(ratings.index).most_common(10)
top_k=dict(x).keys()
ratings=ratings[ratings.index.isin(top_k)]

In [11]:
ratings.shape

(133214, 3)

In [12]:
ratings.head()

        movieid  rating     genres
userid
8405          1     5.0  Adventure
8405          1     5.0  Animation
8405          1     5.0   Children
8405          1     5.0     Comedy
8405          1     5.0    Fantasy

create '_userid' column:

In [13]:
ratings['_userid']=ratings.index

In [14]:
ratings.head()

        movieid  rating     genres  _userid
userid
8405          1     5.0  Adventure     8405
8405          1     5.0  Animation     8405
8405          1     5.0   Children     8405
8405          1     5.0     Comedy     8405
8405          1     5.0    Fantasy     8405

Convert movieid and genre to 'category' so they can be one-hot encoded:

In [15]:
ratings['movieid']=ratings['movieid'].astype('category')
ratings['genres']=ratings['genres'].astype('category')
ratings['_userid']=ratings['_userid'].astype('category')

** Use Pandas' get_dummies to one-hot-encode the genres and movie ID for each user: **



**takes about 1min to do the next cell (when using 30 most common users) **

In [16]:
trans_ratings=pd.get_dummies(ratings)

In [17]:
trans_ratings['userid2']=trans_ratings.index

In [18]:
trans_ratings.shape

(133214, 16191)

In [19]:
trans_ratings.head()

,rating,movieid_1,movieid_2,movieid_3,movieid_4,movieid_5,movieid_6,movieid_7,movieid_8,movieid_9,...,_userid_34576,_userid_59477,_userid_74142,_userid_79159,_userid_82418,_userid_118205,_userid_121535,_userid_125794,_userid_131904,userid2
userid,,,,,,,,,,,,,,,,,,,,,
8405,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8405
8405,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8405
8405,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8405
8405,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8405
8405,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8405

Set trans_ratings to 'df' for simplicity purposes

In [20]:
#trans_ratings.to_csv('trans_rating_10.csv')

In [21]:
df=trans_ratings

In [22]:
#df.drop(['_userid'], axis=1, inplace=True)

Set X to everything in dataframe (except rating), set y to 'rating'

In [23]:
X=df.drop(['rating'], axis=1, inplace=False)
y=np.array(df['rating'].as_matrix())

In [24]:
#X = np.array(X)

In [25]:
#X = np.nan_to_num(X)

** test, train, split **

In [26]:
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size=0.2)

** X_tr and X_te both contain userId, need to create new df's that don't include this so I can be run into model **

In [27]:
X_tr.head()

,movieid_1,movieid_2,movieid_3,movieid_4,movieid_5,movieid_6,movieid_7,movieid_8,movieid_9,movieid_10,...,_userid_34576,_userid_59477,_userid_74142,_userid_79159,_userid_82418,_userid_118205,_userid_121535,_userid_125794,_userid_131904,userid2
userid,,,,,,,,,,,,,,,,,,,,,
131904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,131904
59477,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,59477
34576,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,34576
8405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8405
79159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,79159

In [28]:
X_train_withoutUsers=X_tr.drop(['userid2'], axis=1, inplace=False)
X_test_withoutUsers=X_te.drop(['userid2'], axis=1, inplace=False)

** create np.array from X_train_withoutUsers **

In [29]:
X_train_withoutUsersArray=np.array(X_train_withoutUsers)
X_test_withoutUsersArray=np.array(X_test_withoutUsers)

** Run model **

In [30]:
model = TFFMRegressor(
    order=2,
    rank=7,
    optimizer=tf.train.AdamOptimizer(learning_rate=0.1),
    n_epochs=30,
    batch_size=-1,
    init_std=0.001,
    input_type='dense'
)

In [31]:
model.fit(X_train_withoutUsersArray, y_tr, show_progress=True)
predictions = model.predict(X_test_withoutUsersArray)
print('MSE: {}'.format(mean_squared_error(y_te, predictions)))

100%|| 30/30 [13:24<00:00, 26.81s/epoch]

MSE: 0.40096736152587975

## Make predictions:

(this is the messy part - very difficult to predict new movies using such a sparse array)

Checking out how many unique users there are:

In [32]:
ratings._userid.unique()

[8405, 34576, 59477, 74142, 79159, 82418, 118205, 121535, 125794, 131904]
Categories (10, int64): [8405, 34576, 59477, 74142, ..., 118205, 121535, 125794, 131904]

Create DataFrame consisting only of user 125794:

In [33]:
test_df_125794=pd.DataFrame(X[X['userid2']==125794])

In [34]:
test_df_125794.drop('userid2', axis=1, inplace=True)

Create list of unwatched movies for user125794:

In [35]:
filtered=test_df_125794.filter(regex="movie.*")

In [36]:
unwatched_user125794=list(filtered.columns[(filtered == 0).all()])

Create DataFrame consisting only of user 82418:

In [48]:
test_df_82418=pd.DataFrame(X[X['userid2']==82418])

In [49]:
test_df_82418.drop('userid2', axis=1, inplace=True)

Create list of unwatched movies for user 82418:

In [50]:
filtered=test_df_82418.filter(regex="movie.*")

In [51]:
unwatched_user82418=list(filtered.columns[(filtered == 0).all()])

Create dataframe consisting only of user 118205 (one of the most active users):

In [37]:
test_df_118205=pd.DataFrame(X[X['userid2']==118205])

In [38]:
test_df_118205.drop(['userid2'], axis=1, inplace=True)

In [39]:
test_df_118205.head()

,movieid_1,movieid_2,movieid_3,movieid_4,movieid_5,movieid_6,movieid_7,movieid_8,movieid_9,movieid_10,...,_userid_8405,_userid_34576,_userid_59477,_userid_74142,_userid_79159,_userid_82418,_userid_118205,_userid_121535,_userid_125794,_userid_131904
userid,,,,,,,,,,,,,,,,,,,,,
118205,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
118205,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
118205,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
118205,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
118205,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

User 118205 ---> at postition [-4] in arrays

User 125794 ---> at position [-2] in arrays ==== no good with 118205

User 82418 ---> at position [-5] in the arrays === no good with 118205

User 125794 with 82418 ----> [-2] needs to be turned off, [-5] turned on

In [40]:

#temporary=np.array(test_df_118205.loc[test_df_118205['movieid_3']==1])

** Creating dictionary to map movie id back to title: **

In [41]:
dictionary2=dict(zip(genres2.movieid,genres2.movienm))

In [60]:
predictList=[]
moviesList=[]

for i in range(1,1000):
    ###create numpy matrix using movieid:
    temp1=np.array(test_df_125794.loc[test_df_125794[unwatched_user82418[i]]==1])
    if len(temp1) != 0:
        for each in temp1:
            each[-2]=0
            each[-5]=1
        pred=model.predict(temp1)
        predictList.append(np.average(pred))
        moviesList.append(int(unwatched_user82418[i].split('_')[1]))

In [61]:
sanitycheck=list(zip(predictList,moviesList))
sanitycheck.sort(reverse=True)

In [62]:
sanitycheck

[(6.3760576, 2644),
 (5.4335232, 2459),
 (5.3093514, 2660),
 (5.0822992, 1477),
 (5.0349193, 2175),
 (5.0039158, 846),
 (5.0037074, 2743),
 (4.9885402, 841),
 (4.9528494, 2711),
 (4.9525871, 2744),
 (4.9362311, 1415),
 (4.8999758, 1355),
 (4.8732224, 874),
 (4.853281, 1241),
 (4.8459864, 362),
 (4.840693, 2159),
 (4.8343897, 1310),
 (4.8170509, 2440),
 (4.8055592, 1508),
 (4.787127, 1756),
 (4.7777824, 2361),
 (4.7729301, 1365),
 (4.754024, 1123),
 (4.6556993, 1750),
 (4.6451874, 879),
 (4.6438189, 2168),
 (4.6422453, 809),
 (4.6369333, 1695),
 (4.6310458, 2384),
 (4.6285925, 2625),
 (4.6063714, 786),
 (4.6034155, 2057),
 (4.5907888, 2425),
 (4.5877218, 735),
 (4.5303974, 2570),
 (4.520968, 8),
 (4.49933, 993),
 (4.4980044, 1725),
 (4.4943309, 1049),
 (4.4732833, 707),
 (4.439157, 1769),
 (4.4026198, 1181),
 (4.374506, 388),
 (4.3520002, 2606),
 (4.3515549, 335),
 (4.3403654, 2557),
 (4.3279161, 998),
 (4.3266649, 2493),
 (4.3175659, 367),
 (4.2943854, 1722),
 (4.2796278, 2618),
 (4.2674065, 2594),
 (4.2516484, 547),
 (4.2417355, 1015),
 (4.2396097, 2446),
 (4.2198205, 866),
 (4.2153902, 2091),
 (4.2048826, 997),
 (4.1973186, 166),
 (4.1956673, 2540),
 (4.1932011, 2714),
 (4.1777425, 200),
 (4.15484, 522),
 (4.1520543, 183),
 (4.1489015, 748),
 (4.1415854, 1423),
 (4.1406426, 464),
 (4.1374483, 1053),
 (4.136168, 146),
 (4.1294694, 2697),
 (4.1272526, 2173),
 (4.1235595, 610),
 (4.1218224, 2531),
 (4.1177487, 2429),
 (4.112761, 2532),
 (4.1094179, 2624),
 (4.0994954, 1428),
 (4.083128, 152),
 (4.0735893, 861),
 (4.0685635, 204),
 (4.0596361, 990),
 (4.0594244, 1869),
 (4.0583987, 1472),
 (4.046247, 1004),
 (4.043262, 1809),
 (4.0418515, 1458),
 (4.0376172, 1121),
 (4.0314846, 2634),
 (4.0309405, 2712),
 (4.0270905, 1669),
 (4.0212545, 1715),
 (4.018837, 2527),
 (4.0171671, 1880),
 (4.0009456, 389),
 (4.0003157, 9),
 (3.9928911, 1046),
 (3.9917784, 725),
 (3.9914975, 1928),
 (3.9820409, 321),
 (3.9684939, 2325),
 (3.9643803, 2145),
 (3.9608977, 1064),
 (3.9590282, 263),
 (3.9540994, 1519),
 (3.9347816, 2661),
 (3.9338541, 2428),
 (3.9331498, 561),
 (3.9322293, 1289),
 (3.9312739, 2663),
 (3.9278071, 233),
 (3.9214516, 1313),
 (3.9171851, 941),
 (3.9056911, 614),
 (3.9030371, 1059),
 (3.8956299, 421),
 (3.8901613, 1903),
 (3.8891644, 2075),
 (3.8862984, 392),
 (3.8656561, 1412),
 (3.8650653, 1427),
 (3.8398709, 241),
 (3.8206358, 2533),
 (3.8152008, 1346),
 (3.8151572, 2672),
 (3.808672, 1640),
 (3.8086009, 854),
 (3.8080473, 1874),
 (3.8065939, 112),
 (3.8060768, 2665),
 (3.8026366, 2279),
 (3.8005373, 1910),
 (3.7985351, 1824),
 (3.7913768, 1651),
 (3.7802999, 521),
 (3.7775729, 301),
 (3.7774494, 1190),
 (3.7769668, 987),
 (3.7766151, 570),
 (3.7750056, 849),
 (3.7734683, 1563),
 (3.7665093, 1762),
 (3.7640901, 2284),
 (3.7637749, 49),
 (3.7636015, 824),
 (3.7592843, 2512),
 (3.7548532, 1916),
 (3.7531717, 1306),
 (3.7491021, 1437),
 (3.7486298, 264),
 (3.7425795, 2526),
 (3.7242401, 1216),
 (3.717541, 379),
 (3.7152443, 1334),
 (3.7147076, 2600),
 (3.7079375, 2117),
 (3.7052646, 565),
 (3.7000468, 501),
 (3.6937447, 1018),
 (3.6768057, 1501),
 (3.6743543, 1829),
 (3.667217, 1488),
 (3.6642327, 2236),
 (3.6633174, 1047),
 (3.6558905, 2561),
 (3.6556804, 574),
 (3.6554272, 1364),
 (3.6438913, 1677),
 (3.6367488, 2104),
 (3.6358149, 2060),
 (3.6236515, 2586),
 (3.615427, 2101),
 (3.6114872, 2475),
 (3.6053076, 611),
 (3.6020272, 1342),
 (3.5950263, 893),
 (3.5827115, 384),
 (3.5701337, 1184),
 (3.5679517, 1782),
 (3.5660262, 177),
 (3.5626559, 1971),
 (3.5562832, 1846),
 (3.5551379, 1504),
 (3.5539026, 695),
 (3.5474203, 1479),
 (3.5348294, 353),
 (3.5346198, 495),
 (3.5326045, 2466),
 (3.5325789, 1922),
 (3.5322716, 2017),
 (3.5299535, 77),
 (3.5247753, 386),
 (3.5154529, 71),
 (3.4998505, 2554),
 (3.4809463, 2143),
 (3.4766271, 2578),
 (3.4679265, 2495),
 (3.4661396, 2700),
 (3.4645886, 1161),
 (3.4607203, 2315),
 (3.4601581, 702),
 (3.4579666, 463),
 (3.4534383, 2668),
 (3.452481, 155),
 (3.4500644, 2666),
 (3.4421558, 156),
 (3.4419899, 2097),
 (3.4341412, 338),
 (3.4293029, 1442),
 (3.4190159, 2642),
 (3.4041033, 2232),
 (3.3838179, 159),
 (3.3761947, 711),
 (3.3701673, 2026),
 (3.3656178, 504),
 (3.3523548, 1215),
 (3.3515987, 1088),
 (3.3484709, 2136),
 (3.3356297, 619),
 (3.334466, 217),
 (3.3342097, 1744),
 (3.3327551, 2430),
 (3.3268833, 188),
 (3.3232045, 2652),
 (3.3169892, 365),
 (3.29984, 2706),
 (3.292223, 332),
 (3.2877762, 455),
 (3.2871771, 1770),
 (3.2861943, 2098),
 (3.2843602, 558),
 (3.2820525, 2320),
 (3.2743404, 2345),
 (3.2597544, 394),
 (3.2444928, 2528),
 (3.238924, 2479),
 (3.2358928, 352),
 (3.2274332, 784),
 (3.2229557, 170),
 (3.2174501, 210),
 (3.2088501, 2373),
 (3.205611, 1388),
 (3.1949086, 1173),
 (3.1925793, 1405),
 (3.1893468, 1447),
 (3.188359, 513),
 (3.1882772, 354),
 (3.1875131, 2404),
 (3.1851935, 2704),
 (3.1837292, 1529),
 (3.1782587, 1480),
 (3.1509488, 1616),
 (3.1468186, 2621),
 (3.1392171, 2074),
 (3.1317792, 99),
 (3.124572, 737),
 (3.1151905, 72),
 (3.1101067, 2369),
 (3.0897076, 2643),
 (3.0886366, 2328),
 (3.0846231, 1983),
 (3.0631764, 42),
 (3.0570619, 1611),
 (3.0560284, 1575),
 (3.0537174, 666),
 (3.052393, 680),
 (3.0498676, 1891),
 (3.0469041, 366),
 (3.0433812, 999),
 (3.0319169, 2541),
 (3.031152, 722),
 (3.017334, 510),
 (3.0145044, 2653),
 (3.0120335, 117),
 (3.0004632, 1191),
 (2.9961178, 836),
 (2.9900131, 44),
 (2.980547, 1499),
 (2.9753971, 1686),
 (2.9738522, 1429),
 (2.9657793, 122),
 (2.9586339, 1591),
 (2.9555037, 124),
 (2.9363418, 2499),
 (2.9239495, 81),
 (2.9194701, 1623),
 (2.9115441, 2477),
 (2.905848, 2116),
 (2.9045975, 2363),
 (2.9018219, 544),
 (2.8962436, 309),
 (2.8830502, 674),
 (2.882, 2285),
 (2.8618195, 2399),
 (2.8611498, 2024),
 (2.8597286, 692),
 (2.8587811, 438),
 (2.858634, 652),
 (2.8585143, 2307),
 (2.8546047, 2567),
 (2.8518658, 694),
 (2.8487458, 98),
 (2.8484161, 2737),
 (2.8398228, 1647),
 (2.8325977, 743),
 (2.8319604, 1753),
 (2.8316274, 567),
 (2.8208389, 1468),
 (2.8137894, 1996),
 (2.8071823, 2188),
 (2.8053005, 548),
 (2.8002882, 54),
 (2.7876024, 519),
 (2.7846122, 2326),
 (2.7756414, 1972),
 (2.7688823, 801),
 (2.7679093, 2419),
 (2.7588313, 76),
 (2.7584286, 1055),
 (2.7257805, 1897),
 (2.7236004, 2577),
 (2.7217436, 269),
 (2.7115436, 704),
 (2.7079585, 287),
 (2.6993423, 2190),
 (2.6991425, 886),
 (2.6947756, 2713),
 (2.6768589, 1783),
 (2.6655226, 2358),
 (2.6617904, 320),
 (2.6523261, 1549),
 (2.6396234, 1665),
 (2.6294801, 2283),
 (2.6154866, 1483),
 (2.5995543, 2444),
 (2.599185, 2544),
 (2.5929875, 216),
 (2.5758061, 2688),
 (2.5736439, 2505),
 (2.5511312, 2535),
 (2.5394776, 2674),
 (2.5323992, 540),
 (2.5125151, 2365),
 (2.5080726, 2053),
 (2.4744048, 2271),
 (2.4175544, 2504),
 (2.4064643, 1806),
 (2.4040611, 992),
 (2.3989735, 2195),
 (2.3947797, 2296),
 (2.3922563, 1487),
 (2.3896799, 2377),
 (2.356854, 1363),
 (2.322515, 891),
 (2.3184533, 2260),
 (2.2930508, 1626),
 (2.2835898, 716),
 (2.281471, 1431),
 (2.2801292, 502),
 (2.230092, 880),
 (2.1795626, 2364),
 (2.1486535, 662),
 (2.1376152, 444),
 (2.1318393, 184),
 (2.082943, 1556),
 (2.0546286, 2720),
 (2.0425386, 542),
 (2.0372784, 1551),
 (2.0157084, 429),
 (1.9770966, 18),
 (1.9623299, 2386),
 (1.9428165, 1707),
 (1.85706, 485),
 (1.8319571, 1636),
 (1.7273127, 65),
 (1.7166387, 1998),
 (1.7142769, 355),
 (1.6609251, 2536),
 (1.6342913, 193),
 (1.6202378, 416),
 (1.547931, 747),
 (1.0520511, 2362),
 (0.31015241, 2555)]

In [64]:
for i in range(0,50):
    print(dictionary2[sanitycheck[i][1]])

Dracula (1931)
Texas Chainsaw Massacre, The (1974)
Thing from Another World, The (1951)
Love Jones (1997)
Dj Vu (1997)
Flirt (1995)
Native Son (1986)
Eyes Without a Face (Yeux sans visage, Les) (1959)
My Life So Far (1999)
Otello (1986)
Thieves (Voleurs, Les) (1996)
Nightwatch (1997)
Killer: A Journal of Murder (1995)
Dead Alive (Braindead) (1992)
Jungle Book, The (1994)
Henry: Portrait of a Serial Killer (1986)
Hype! (1996)
Another Day in Paradise (1998)
Traveller (1997)
Prophecy II, The (1998)
Pink Flamingos (1972)
Ridicule (1996)
Perfect Candidate, A (1996)
Star Kid (1997)
Relic, The (1997)
Dance with Me (1998)
Fled (1996)
Artemisia (1997)
Babe: Pig in the City (1998)
Black Mask (Hak hap) (1996)
Eraser (1996)
Incredible Journey, The (1963)
General, The (1998)
Cemetery Man (Dellamorte Dellamore) (1994)
Walk on the Moon, A (1999)
Tom and Huck (1995)
Infinity (1996)
Education of Little Tree, The (1997)
Ghost and the Darkness, The (1996)
Mulholland Falls (1996)
Replacement Killers, The (1998)
Shooter, The (1997)
Boys Life (1995)
Idle Hands (1999)
Underneath (1995)
I Stand Alone (Seul contre tous) (1998)
Set It Off (1996)
Harmonists, The (1997)
Mask, The (1994)
Tomorrow Never Dies (1997)